{% extends "profile.html" %}

{% block text %}

<div class="modal" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Change you Password</h5>


      </div>
      <div class="modal-body">

          <form action="" method="POST">
            {{form.hidden_tag()}}
            <p style="text-align:left;"> {{ form.password.label }} <br>
            {{ form.password(size=32, placeholder="Enter old password", style='width: 100%;
              padding: 12px 20px;
              margin: 8px 0;
              display: inline-block;
              border: 1px solid #ccc;
              border-radius: 10px;
              box-sizing: border-box;') }}</p>
            {% if form.password.errors %}
                  <ul class="errors">
                    {% for error in form.password.errors %}
                      <li>{{ error }}</li>{% endfor %}
                  </ul>
            {% endif %}
            <p style="text-align:left;"> {{ form.newpassword.label }} <br>
            {{ form.newpassword(size=32, placeholder="Enter new password", style='width: 100%;
              padding: 12px 20px;
              margin: 8px 0;
              display: inline-block;
              border: 1px solid #ccc;
              border-radius: 10px;
              box-sizing: border-box;') }}</p>
            {% if form.newpassword.errors %}
                  <ul class="errors">
                    {% for error in form.newpassword.errors %}
                      <li>{{ error }}</li>{% endfor %}
                  </ul>
            {% endif %}
            <p style="text-align:left;"> {{ form.confirm.label }} <br>
            {{ form.confirm(size=32, placeholder="Confirm Password", style='width: 100%;
              padding: 12px 20px;
              margin: 8px 0;
              display: inline-block;
              border: 1px solid #ccc;
              border-radius: 10px;
              box-sizing: border-box;') }}</p>
            {% if form.confirm.errors %}
                  <ul class="errors">
                    {% for error in form.confirm.errors %}
                      <li>{{ error }}</li>{% endfor %}
                  </ul>
            {% endif %}

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <div class="mt-5 text-center">
          {{ form.submit(class="btn btn-primary") }}</div>
          </div>
          </form>
        </div>



  </div>


</div>

{% endblock %}
{% block script %}
<script>
    $(document).ready(function(){
        console.log("window is loaded")
        $("#exampleModal").modal("show")
    })
</script>
{% endblock %}

</body>

</html>
