{% extends "base.html" %}
<!DOCTYPE html>

{% block content %}
<br><br>
<div class = "container">
<div class = "center">

    <!-- Actual search box -->
    <div class="form-group has-feedback has-search">
        <span class="glyphicon glyphicon-search form-control-feedback"></span>
        <input type="text" class="form-control" placeholder="Search for Items">
    </div>
</div>
</div>
<br><br>


<div class="container">
<div class="row">
        <div class="col-sm-4">
            <div class="panel panel-success">
                <div class="panel-heading"> FREE! Black Jacket</div>
                <div class="panel-body"><img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image"></div>
                <div class="panel-footer">Black jacket with logo</div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-success">
                <div class="panel-heading"> FREE! Item #2</div>
                <div class="panel-body"><img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image"></div>
                <div class="panel-footer">Great Item</div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-success">
                <div class="panel-heading">FREE! Item 3 </div>
                <div class="panel-body"><img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image"></div>
                <div class="panel-footer">Another amazing item</div>
            </div>
        </div>
    </div>
</div><br>
<div class="container">
    <div class="row">

        <div class="col-sm-4">
            <div class="panel panel-success">
                <div class="panel-heading">FREE! Item #4</div>
                <div class="panel-body"><img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image"></div>
                <div class="panel-footer">This item is pretty great</div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-success">
                <div class="panel-heading">FREE! Item #5</div>
                <div class="panel-body"><img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image"></div>
                <div class="panel-footer">Cool!</div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-success">
                <div class="panel-heading">FREE! Item #6</div>
                <div class="panel-body"><img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image"></div>
                <div class="panel-footer">Awesome!</div>
            </div>
        </div>
    </div>
</div>
</div><br><br>

</body>
{% endblock %}
</html>