{% extends "base.html" %}
<!DOCTYPE html>

{% block content %}
<br><br>
<h1 style="text-align: center; font: monospace; font-family: Monaco"> {{ title }} </h1>
<div class = "container">
<div class = "center">

    <!-- Actual search box -->
    <div class="form-group has-feedback has-search">
      <form method="POST">
        <span id = 'submit' name = 'submit' class="glyphicon glyphicon-search form-control-feedback"></span>
        <input id = 'search' type="text" class="form-control" name = 'search' placeholder="Search for Items">
      </form>
    </div>
</div>
</div>
<br><br>


<div class="container">
<div class="row">
  {% if count > 0 %}
    {% for i in sale %}
        <div class="col-sm-4">
            <a href="/vollistings/{{i.id}}">
            <div class="panel panel-success">

                <div class="panel-heading">{{ i.name }}</div>
                <div class="panel-body" style="height:350px;"><img src="/static/listing_pics/{{i.image_file}}" class="img-responsive" style="width:100%; " alt="Image"></div>
                <div class="panel-footer" style="height:50px">{{ i.description }}</div>

            </div>
        </a>
        </div>
        {% endfor %}
        {% elif count == 0 and good == True %}
        <h1>No Opportunities matched you search</h1>
        {% else %}
        <h1>There are no opportunities at this time</h1>
        {% endif %}
       <!--  <div class="col-sm-4">
            <div class="panel panel-success">
                <div class="panel-heading">Item #2</div>
                <div class="panel-body"><img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image"></div>
                <div class="panel-footer">Great Item</div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-success">
                <div class="panel-heading">Item 3 </div>
                <div class="panel-body"><img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image"></div>
                <div class="panel-footer">Another amazing item</div>
            </div>
        </div>
    </div>
</div><br> -->
<!-- <div class="container">
    <div class="row">


        <div class="col-sm-4">
            <div class="panel panel-success">
                <div class="panel-heading">Item #4</div>
                <div class="panel-body"><img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image"></div>
                <div class="panel-footer">This item is pretty great</div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-success">
                <div class="panel-heading">Item #5</div>
                <div class="panel-body"><img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image"></div>
                <div class="panel-footer">Cool!</div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-success">
                <div class="panel-heading">Item #6</div>
                <div class="panel-body"><img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image"></div>
                <div class="panel-footer">Awesome!</div>
            </div>
        </div>
    </div>
</div> -->
</div><br><br>

</body>
{% endblock %}
</html>
