{% extends "viewprofile.html" %}

{% block text %}

<div class="modal" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Report User</h5>


      </div>

      <div class="modal-body">
        <form method="POST">

        {{ form.hidden_tag() }}
<!--           <div class="form-group">
        <div class="containerx"> -->
        <fieldset>

      <p style="text-align:left;"> {{ form.reason.label }} <br>
        {{ form.reason(placeholder="Enter your username", style='width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 10px;
        box-sizing: border-box;') }} </p>

        </fieldset>



  <div class="modal-footer">
    <a href="/"><button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button></a>

    {{ form.submit(class="btn btn-primary") }}


  </div>


</form>
  </div>


  </div>


</div>

{% endblock %}
{% block script %}
<script>
    $(document).ready(function(){
        console.log("window is loaded")
        $("#exampleModal").modal("show")
    })
</script>
{% endblock %}

</body>

</html>
